<main class="container d-flex justify-content-center align-items-center flex-column">
  <div class="card">
    <div class="card-header">
      <h2>Nova Tarefa</h2>
      <div class="d-flex">
        <input type="text" class="form-control" [(ngModel)]="tarefa_atual" name="tarefa">
        <button class="btn btn-outline-primary ms-2" (click)="adicionarTarefa()">Adicionar</button>
      </div>
    </div>

    <div class="card-body" *ngIf="tarefas.length != 0">
      <div class="d-flex align-items-center" *ngFor="let tarefa of tarefas; let idx = index">
        <todo-item class="flex-grow-1">
          {{ tarefa }}
        </todo-item>
        <button class="btn btn-outline-danger ms-2" (click)="deletarTarefa(idx)">Apagar</button>
      </div>
    </div>
  </div>
</main>